.bar-chart {
    padding: 3px;
    background: #fff;
    height: 3rem;
    margin-bottom: 3rem;
}
.bar-chart .bar-chart--inner {
    background: #333;
    height: 100%;
    display: block;
    margin-bottom: .3rem;
    position: relative;
    will-change: width;
}
.bar-chart .bar-chart--inner:after {
    position: absolute;
    top: 0;
    right: 0;
    content: " ";
    width: 1rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.bar-chart[animated] .bar-chart--inner {
    -webkit-transition: width 1.3s;
    transition: width 1.3s;
}
.bar-chart.primary .bar-chart--inner {
    background: #e86951;
}
.bar-chart.secondary .bar-chart--inner {
    background: #168de6;
}
.bar-chart.tertiary .bar-chart--inner {
    background: #1dbdab;
}

.bar-chart.forth .bar-chart--inner {
    background:  #ffeb3b;
}

.bar-chart.fiveth .bar-chart--inner {
    background:  #607d8b;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    color: #000;
    font-weight: 200;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes fade-in {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@-ms-keyframes fade-in {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
}


.polaroid {
    margin-top: 30px;
    margin-left: 30px;
    width: 260px;
    height: 280px;
    position: relative;
    float: left;
    background: #1e1c18;
    border: 7px solid #f5f5f5;
    border-bottom: 50px solid #f5f5f5;
    box-shadow: 0 0 6px -1px #000;
    overflow: hidden;
    left: 0px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    clear: both;

}
.polaroid img {
    width: 100%;
    -webkit-animation: fade-in 15s ease-in;
    /* Safari 4+ */
    -moz-animation: fade-in 15s ease-in;
    /* Fx 5+ */
    -o-animation: fade-in 15s ease-in;
    /* Opera 12+ */
    animation: fade-in 15s ease-in;
    /* IE 10+ */
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.description {
    width: 290px;
    float: left;
    padding-top: 2em;
    color: #222;
    font-family: sans-serif;
    text-shadow: 1px 1px #eee;
}

