* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
}

body {
    background: #f4f4f1;
    font-family: 'Open Sans', sans-serif;
}

section {
    position: relative;
    padding: 0 30px;
}

article {
    position: relative;
    width: 80%;
    margin: 80px auto 0;
    z-index: 500;
    background: #ffffff;
    padding: 80px 80px 70px;
    border-right: 1px solid #f4f4f1;
    border-bottom: 1px solid #f4f4f1;
}

article h2 {
    color: #283f53;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

article p {
    margin-top: 18px;
    color: #404649;
    font-weight: 400;
}

/* The author card */

@-webkit-keyframes moveOut {
    0%    {
        top: 50px;
        right: 10%;
        z-index: 400;
        -webkit-transform:rotate(7deg); /* Safari and Chrome */
    }
    50%   {
        right: 2%;
        z-index: 400;
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
    }
    51%   {
        z-index: 600;
    }
    100%  {
        z-index: 600;
        right: 10%;
    }
}

@-webkit-keyframes moveIn {
    100%    {
        top: 50px;
        right: 10%;
        z-index: 400;
        -webkit-transform:rotate(7deg); /* Safari and Chrome */
    }
    51%   {
        right: 2%;
        z-index: 400;
        -webkit-transform:rotate(0deg); /* Safari and Chrome */
    }
    50%   {
        z-index: 600;
    }
    0%  {
        z-index: 600;
        right: 10%;
    }
}
.author {
    -webkit-animation: moveIn 0.3s;

    position: absolute;
    width: 200px;
    background: #ffffff;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #f4f4f1;
    border-bottom: 1px solid #f4f4f1;

    top: 50px;
    right: 10%;
    z-index: 400;
    -webkit-transform:rotate(7deg); /* Safari and Chrome */
}

.author:before {
    content: "author";
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-right: -10px;
    text-transform: uppercase;
    font-size: 0.6em;
    color: #dce5ed
}

.author:hover {
    -webkit-animation: moveOut 0.3s forwards;

    right: 10%;
    z-index: 600;
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.author a.name {
    display: block;
    text-align: center;
    color: #507da5;
    text-decoration: none;
    font-weight: 600;
}

.author img.circle {
    border-radius: 100%;
}

.author p {
    text-align: left;
    font-size: 12px;
    margin-top: 18px;
    color: #404649;
    font-weight: 400;
}

ol{
    text-decoration: none;
    list-style: none;
}
.commentBox{

}
fieldset{
    padding:10px;
    background: #F44336;
}
.form_grp{
    margin-bottom:10px;
}
label{
    width:100%;
    height:32px;
    line-height:32px;
    display:block;
    margin-bottom:10px;
    font-size:18px;
    color:#fff;
    padding-left:34px; background:url(https://cdn3.iconfinder.com/data/icons/glypho-free/64/pen-checkbox-32.png) no-repeat left center;
}
textarea{
    width:100%;
    height:100px;
    padding:10px;
    border:1px solid #eee;
    resize:none;
}
button{
    padding:5px 20px;
    background-color: #00a8e6;;
    color:#fff;
    float:right;
}
.viewCmnt{
    clear:both;
    overflow:hidden;
    position:relative;
    background:#c8e7fb;
    border-bottom:1px solid #A6DAFC;
}
.viewCmnt p {
    width:100%;
    float:left;
    padding:10px;
    font-size:14px;
    line-height:20px;
}
.edit, .delete{
    position:absolute;
    width:20px;
    height:20px;
    display:none;
    cursor:pointer;
    bottom:5px;
    padding:2px;
}
.viewCmnt:hover .edit, .viewCmnt:hover .delete{
    display:block;
}
.edit{
    right:26px;  background:url(https://cdn4.iconfinder.com/data/icons/miu/22/editor_pencil_pen_edit_write_-16.png) no-repeat center #0e7ec7;
}
.delete{
    right:5px;
    background:url(https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-16.png) no-repeat center #0e7ec7;
    z-index:2;
}