.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#home {
    padding-top: 0 !important;
}

.onepage-wrapper section {
    padding: 0 !important
}

.full-img {
    background-size: cover !important;
    background-position: center top !important;
}

.full-img-overlay {
    height: 100%;
    padding-bottom: 100px;
    background-color: rgba(0,0,0,.3);
}

.full-img-overlay-2 {
    height: 100%;
    background-color: rgba(208, 53, 57,.9);
}

.img-blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#our-team .full-img {
    min-height: calc(100vh - 100px);
    background-size: cover !important;
    background-position: center center !important;
}

#our-team .full-img-overlay {
    height: 100%;
    background-color: rgba(0,0,0,.7);
}

#our-team-img {
    padding-top: 10vh;
}

#our-team-img .col-md-2 {
    padding: 0 20px;
}

.our-team-quotes {
    position: relative;
    top: 50%;
    transform: translateY(100%);
    padding-right: 80px;
    color: #fff;
    text-align: justify;
    font-size: 18px;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
    margin-bottom: 25px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 200px;
    opacity: .8;
}

/* flip speed goes here */
.flipper {
    transition: 0.3s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background-size: cover !important;
    background-position: center center !important;
}

/* back, initially hidden pane */
.back {
    padding: 10px;
    padding-top: 25%;
    transform: rotateY(180deg);
    background-color: #d03539;
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.vertical.flip-container {
    position: relative;
}

.vertical .back {
    transform: rotateX(180deg);
}

.vertical.flip-container .flipper {
    transform-origin: 100% 213.5px; /* half of height */
}

.vertical.flip-container:hover .flipper {
    transform: rotateX(-180deg);
}

.full-img-text {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 48px;
    padding-top: 15%;
    text-align: center;
}

.full-img-text-2 {
    padding-top: 12% !important;
}

.full-img-text-3 {
    padding: 50px 0 50px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(208, 53, 57);
    font-size: 42px;
    text-align: center;
}


.full-img-text-desc {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    padding-top: 2%;
    text-align: justify;
}

#our-team .full-img-text {
    padding-top: 10%;
}

.team-name {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.team-position {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

#our-team-img i {
    color: #fff;
    margin-left: 38%;
    font-size: 3vw;
}

/*
.fa-facebook-square:hover {
    color: #3b5999 !important;
}

.fa-twitter-square:hover {
    color: #55acee !important;
}

.fa-linkedin-square:hover {
    color: #0274b3 !important;
}

*/

.full-img-button {
    height: 45px;
    margin-top: 50px;
    padding: 8px 25px 8px 25px;
    background: transparent;
    border: 3px solid #fff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    outline: none;
    border-radius: 6px;
}

.full-img-button::after {
    display: block;
    opacity: 0;
    font-size: 28px;
    font-family: 'Glyphicons Halflings';
    content: '\e259';
    animation-name: up-down;
    animation-duration: 3s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -moz-transition: 2s;
    -webkit-transition: 2s;
    -o-transition: 2s;
    -ms-transition: 2s;
    transition: 2s;
}

.full-img-button:hover::after {
    margin-top: 40px;
    opacity: 1;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.full-img-button-2::after {
    content: none;
}

@keyframes up-down {
    0%   {margin-top: 40px;}
    50%  {margin-top: 80px;}
    100% {margin-top: 40px;}
}

.full-img-button:hover {
    background-color: rgba(255,255,255,.4);
}

.gis-feature {
    min-height: 250px;
    background: transparent;
}

.gis-header-parallax {
    min-height: 400px;
    background: transparent;
}

.gis-product-desc {
    padding: 100px 0 100px;
}

.feature-overlay {
    height: 250px;
    background: rgba(208,53,57,.8);
}

.feature-overlay .feature-item {
    border-right: 1px solid rgba(255,255,255,0.4);
}

.no-border-right {
    border-right: none !important;
}

.feature-item {
    height: 150px;
    margin-top: 50px;
    text-align: center;
    color: #fff;
}

.feature-item i {
    padding-top: 25px;
    font-size: 52px;
}

.feature-item p {
    padding-top: 15px;
    font-size: 24px;
}

.arrow-down {
    position: relative;
    width: 10px;
    height: 10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(215, 90, 77);
    z-index: 5 !important
}

.content-header {
    margin-top: -30px;
    padding: 0 !important;
    max-height: 380px;
    overflow: hidden;
}

.content-header img {
    margin-top: -5%
}

.feature-tab-container {
    padding: 70px 0 70px;
    background: #f6f6f6;
}

.feature-tab {
    width: 80%;
    height: 220px;
    margin: auto;
    border: 1px solid #f44336;
    border-radius: 6px;
    text-align: center;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.feature-tab:hover {
    background-color: #f44336;
    color: #fff;
}

.feature-tab:hover .feature-icon {
    padding-top: 25px;
    font-size: 82px;
}

.feature-tab:hover .feature-title {
    font-size: 18px;
}

.feature-icon {
    padding-top: 40px;
    font-size: 62px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}

.feature-title {
    font-size: 18px;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}


.feature-tab-content {
    padding: 50px 50px 0 50px;
    text-align: justify;
}

#feature-description {
    margin-top: -20px;
    padding: 80px 0 100px;
    background-color: #f6f4f5;
}

#feature-description p {
    width: 80%;
    padding: 35px;
    padding-top: 20px;
    text-align: justify;
    background-color: #fff;
}

#feature-description h4 {
    width: 80%;
    padding-top: 35px;
    margin-bottom: 0;
    text-align: center;
    background-color: #fff;
}

#feature-description p span {
    text-align: center;
}

.carousel-control.right, .carousel-control.left {
    color: #d03539;
    background-image: none;
}

.faq-section {
    padding-top: 35px;
}
.panel-heading {
    background-color: #F44336 !important;
}

#layanan-kami {
    min-height: 100vh;
    padding: 3% 0 10%;
    background-color: #eaeaec;
    text-decoration: none;
}

#layanan-kami a {
    text-decoration: none;
}

.uk-panel-box-secondary {
    background-color: #fff;
    color: #444;
    min-height: 300px;
}

.uk-panel-berita {
    background-color: #fff;
    color: #444;
    min-height: 420px !important;
}
.uk-panel-box {
    padding: 15px;
    background: #fafafa;
    color: #444;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.uk-panel {
    text-decoration: none;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.uk-panel {
    display: block;
    position: relative;
}

.uk-panel-box-secondary .uk-panel-title {
    color: #444;
}
.uk-panel-box .uk-panel-title {
    color: #444;
}

.uk-panel:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.uk-panel-title {
    min-height: 140px;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
    color: #444;
}

.uk-panel-teaser {
    padding: 1px;
}

.uk-panel-teaser img {
    width: 100%;
}

.uk-panel-box .uk-panel-teaser {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}
.uk-panel-box>.uk-panel-teaser {
    margin-top: -16px;
    margin-left: -16px;
    margin-right: -16px;
}
.uk-panel-teaser {
    margin-bottom: 15px;
}

#why-us .feature-item i {
    padding-top: 5px;
    font-size: 72px;
}

#why-us .feature-item p {
    font-size: 18px;
}

#tagline {
    text-align: center;
    padding: 50px 0 50px;
    font-size: 2vw;
    color: #fff;
    background-color: #D03539;
}

#tagline p {
    font-size: 22px;
}

#tagline p:first-child {
    font-size: 32px;
}